body {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

header{
    background-color: rgb(248, 215, 84); /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    flex: 0 0 auto;
}

/* Main container */
main {
    display: flex;
    height: 80; /* Prend toute la hauteur de la fenêtre */
    flex: 1 1 auto;
}



.zoneButton {
    flex: 1; /* Prend 2 parts sur l'espace disponible */
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.zoneAffichage{
    flex: 2; /* Prend 1 part sur l'espace disponible */
    padding: 20px;
    background-color: #f4f4f4; /* Couleur de fond */
    border-right: 1px solid #ccc; /* Bordure pour séparer */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.texteAffichage{
    color: #ffffff;
    font-style: italic;
    background-color: rgb(248, 215, 84);
    border-radius: 50px; /* Arrondi uniforme sur tous les coins */
    padding: 10px 20px; /* Espace interne autour du texte */
    display: inline-block; /* S'assure que le rectangle ne déborde pas inutilement */
    text-align: center; /* Centre le texte dans le rectangle */
    
}

p{
    font-size: 20px;
    text-align: left;
}

.allDP{
    margin-top: 50px;
    align-items: center;
}

button {
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    width: 300px;
    border-radius: 5px;
    background-color:  rgb(96, 34, 166);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour plus d'élégance */
}

button:hover {
    background-color: rgb(248, 215, 84);
    color:black;
}

.clicked {
    background-color: rgb(248, 215, 84);
    color:black;
}

.default {
    background-color:  rgb(96, 34, 166);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
